!!! 5
%html
  %head
    %title Git Store
    %meta{ :"http-equip" => "content-type", :content => "text/html; charset=utf-8" }
    = stylesheet_link_tag "screen"

  %body
    #content
      = yield_content :header
      = partial :flash if flash[:notice] || flash[:alert]
      = yield
      = partial :footer
